Package: supersonic
Version: @VERSION@
Section: Multimedia
Priority: optional
Recommends: lame, ffmpeg
Architecture: all
Maintainer: Timo Reimann <devel@foo-lounge.de>
Description: A web-based music streamer, jukebox and Podcast receiver
 Supersonic is a web-based music streamer, jukebox and Podcast receiver,
 providing access to your music collection wherever you are. Use it
 to share your music with friends, or to listen to your music while away
 from home.
 .
 An app for Android is also available.
 .
 Java 1.6 or higher is required to run Supersonic.
 .
 Supersonic can be found at https://github.com/Mach5/supersonic
