<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <bean id="cacheFactory" class="net.sourceforge.subsonic.cache.CacheFactory"/>

    <bean id="userCache" factory-bean="cacheFactory" factory-method="getCache">
        <constructor-arg value="userCache"/>
    </bean>

    <bean id="musicFileCache" class="net.sourceforge.subsonic.domain.Cache">
        <constructor-arg value="musicFile"/>
        <constructor-arg value="1"/>
        <constructor-arg ref="cacheDao"/>
    </bean>

    <bean id="coverArtCache" class="net.sourceforge.subsonic.domain.Cache">
        <constructor-arg value="coverArt"/>
        <constructor-arg value="2"/>
        <constructor-arg ref="cacheDao"/>
    </bean>

    <bean id="chatCache" class="net.sourceforge.subsonic.domain.Cache">
        <constructor-arg value="chat"/>
        <constructor-arg value="3"/>
        <constructor-arg ref="cacheDao"/>
    </bean>

    <bean id="musicFolderCache" class="net.sourceforge.subsonic.domain.Cache">
        <constructor-arg value="musicFolder"/>
        <constructor-arg value="4"/>
        <constructor-arg ref="cacheDao"/>
    </bean>

</beans>