<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <bean id="cacheFactory" class="net.sourceforge.subsonic.cache.CacheFactory"/>

    <bean id="userCache" factory-bean="cacheFactory" factory-method="getCache">
        <constructor-arg value="userCache"/>
    </bean>

    <bean id="musicFileCache" factory-bean="cacheFactory" factory-method="getCache">
        <constructor-arg value="musicFileCache"/>
    </bean>

    <bean id="childDirCache" factory-bean="cacheFactory" factory-method="getCache">
        <constructor-arg value="childDirCache"/>
    </bean>

    <bean id="musicFolderCache" factory-bean="cacheFactory" factory-method="getCache">
        <constructor-arg value="musicFolderCache"/>
    </bean>

    <bean id="chatCache" factory-bean="cacheFactory" factory-method="getCache">
        <constructor-arg value="chatCache"/>
    </bean>

    <bean id="coverArtCache" class="net.sourceforge.subsonic.domain.Cache">
        <constructor-arg value="1"/>
        <constructor-arg ref="cacheDao"/>
    </bean>

</beans>